@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

.container1 {
    position: fixed;
    top: 250px;
    /* transform: translate(-50%, -50%); */
    font-size: 110px;
    transform: rotate(-90deg);
}

.container2 {
    position: fixed;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    font-size: 60px;
}

body {
    font-family: 'Lilita One', cursive;
    font-size: 50px;
    color: #FFECD1;
    background-color: #090C08;
    container-name: center;
}

@media screen and (max-width: 450px) {
    .container1 {
        font-size: 90px;
        left: -20px
    }

    .container2 {
        font-size: 50px;
        /* left: -20px */
    }
}

@media screen and (max-width: 350px) {
    .container1 {
        font-size: 70px;
        left: -20px
    }

    .container2 {
        font-size: 40px;
        /* left: -20px */
    }
}

@media screen and (max-width: 350px) {
    .container1 {
        font-size: 70px;
        left: -20px
    }

    .container2 {
        font-size: 40px;
        /* left: -20px */
    }
}
